<%= form_with(model: @uebung, url: @uebung.new_record? ? coach_uebungs_path : coach_uebung_path(@uebung), class: 'form') do |form| %>
  <% if @uebung.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@uebung.errors.count, "error") %> prohibited this Übung from being saved:</h2>
      <ul>
        <% @uebung.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>