<%= form_with(model: @training, url: @training.new_record? ? coach_trainings_path : coach_training_path(@training)) do |form| %>
  <% if @training.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@training.errors.count, "error") %> prohibited this training from being saved:</h2>
      <ul>
        <% @training.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :benutzer_id, style: "display: block" %>
    <%= form.text_field :benutzer_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
