<p style="color: green"><%= notice %></p>

<%= render @coach_training %>

<div>
  <%= link_to "Edit this training", edit_coach_training_path(@coach_training) %> |
  <%= link_to "Back to trainings", coach_trainings_path %>

  <%= button_to "Destroy this training", @coach_training, method: :delete %>
</div>
